.section {
  min-height: 50vh;
  padding-top: 6rem;
  padding-bottom: 6rem;

  width: 100%;

  border-top: 1px solid #ebebeb;
}

.section:first-child {
  border-top: none;
}

.image-section {
  @extend .fixed-section;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.fixed-section {
  @extend .section;

  max-width: 1400px;
  margin: 0 auto;
}

// Image-Section specific
.image-section > .image-section__text {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 2rem;
}

.image-section > img {
  width: 40%;
  object-fit: contain;
}

// Delet this
.image-section__text > h2 {
  font-size: 2.25rem;
  color: $black;
}

.image-section__text > h2 > span {
  color: $primary-alt;
}

.image-section__text > p {
  padding: 2rem 0rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.image-section__text > p:before {
  content: ' ';
}
