.section {
  min-height: 50vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

.section:first-child {
  border-top: none;
}

.image-section {
  @extend .fixed-section;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  @include for-size(tablet-landscape-up) {
    flex-direction: row;
  }
}

.fixed-section {
  @extend .section;

  width: auto;

  max-width: 1280px;
  margin: 0 auto;

  padding-left: 1rem;
  padding-right: 1rem;
}

// Image-Section specific
.image-section__text {
  color: lighten($black, 20%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: justify;

  @include for-size(tablet-landscape-up) {
    padding-right: 2rem;
    text-align: left;
  }
}

// Delet this
.image-section__text > h2 {
  font-size: 2.25rem;
  color: $black;
}

.image-section__text > h2 > span {
  color: $primary-alt;
}

.image-section__image {
  margin: 0 auto;
  min-width: 45%;
  max-width: 100%;

  @include for-size(tablet-landscape-up) {
    max-width: 45%;
  }

  display: flex;
  align-items: center;
}

.image-section__image > img {
  width: 100%;
  margin: 0 auto;
  object-fit: contain;

  @include for-size(phone-only) {
    display: none;
  }

  display: block;
}

.image-section__text > p {
  padding: 2rem 0rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.image-section__text > p:before {
  content: ' ';
}
