@import '../_base.scss';
@import '_sections.scss';

.headline {
  color: $black;
}

.insurances {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.insurance {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

.insurance-top {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1rem;
}

.insurance-top--expanded {
  background-color: lighten($primary, 40%);
}

.insurance:hover {
  background-color: lighten($primary, 40%);
}

.insurance-text {
  flex-grow: 1;
  //color: lighten($black, 20%);
  padding: 2rem;
  color: $black;
}

.insurance-icon {
  color: white;
  padding: 1rem;
  border-radius: 30px;
  background-color: $primary-alt;
}

.insurance-expand {
  font-size: 3rem;
  color: lighten($primary, 20%);
  //color: lighten($black, 20%);
}

.insurance-expand:hover {
  color: lighten($primary, 5%);
}

.insurance-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 1rem;

  background-color: lighten($primary, 42%);
}

.insurance-content--hidden {
  display: none;
}

.insurance-content > p {
  font-weight: 500;
  color: lighten($black, 10%);

  flex-shrink: 1;

  padding: 0 1rem;
}

.insurance-content > img {
  height: 20vh;
  display: block;
  object-fit: cover;
}
