@import '../_base.scss';
@import '_sections.scss';

.headline {
  color: $black;
}

.insurances {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.insurances__insurance {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  width: 30vw;
}

.insurances__insurance:hover {
  background-color: unquote($primary + '55');
}

.insurances__insurance-text {
  color: lighten($black, 20%);
  padding: 2rem;
}

.insurances__insurance-icon {
  color: white;
  padding: 1rem;
  border-radius: 30px;
  background-color: $primary-alt;
}
