@import '../_base.scss';
@import '_sections.scss';

.headline {
  text-align: center;
  font-size: 4rem;
  color: $black;

  padding-bottom: 3rem;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question {
}

.question > h3 {
  color: $black;
  font-size: 2.3rem;
  padding: 2rem;
}

.question > h3:before {
  font-size: 3rem;
  content: 'â“    ';
}

.answer {
}

.answer > p {
  margin-left: 5rem; // Delet this

  font-size: 1.5rem;
  font-weight: 400;
}
