@import '../_base.scss';
@import '_sections.scss';

.headline {
  text-align: center;
  font-size: 4rem;
  color: $black;

  padding-bottom: 3rem;
}

.questions {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @include for-size(tablet-portrait-up) {
    flex-direction: row;
  }

  flex-wrap: wrap;
}

.question {
  padding: 3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  width: 90%;

  @include for-size(tablet-landscape-up) {
    width: 20rem;
  }
}

/*
.question:nth-child(odd) {
  border-left: none;
  border-right: 1px solid #ccc;
}

.question:nth-child(even) {
  border-right: none;
  border-left: 1px solid #ccc;
}*/

.question > svg {
  color: lighten($black, 20%);
}

.question > h3 {
  margin-left: 0.5rem;

  display: inline;
  vertical-align: top;
  color: $black;
  font-size: 1.5rem;
}

.answer {
  padding: 1rem 0;
}

.answer > p {
  color: lighten($black, 20%);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.75rem;
}
