@import '../_base.scss';
@import '_sections.scss';

.benefits-title {
  text-align: center;
  color: $black;
}

.benefits {
  width: 100%;

  margin-top: 6rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.benefits:hover > .benefit--selected {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #ccc;
}

.benefits:hover > .benefit--selected:hover {
  border-top: 3px solid $primary-alt;
  border-right: 3px solid $primary-alt;
  border-bottom: none;
}

.benefit {
  width: 33%;
  border-bottom: 3px solid #ccc;

  padding: 0.3rem 0.8rem;
}

.benefit--selected {
  border-top: 3px solid $primary-alt;
  border-right: 3px solid $primary-alt;
  border-bottom: none;

  border-radius: 2px;
}

.benefit:hover {
  border-top: 3px solid $primary-alt;
  border-right: 3px solid $primary-alt;
  border-left: 3px solid $primary-alt;
  border-bottom: none;
}

.benefit > svg {
  font-size: 3rem;
  color: $primary;
}

.benefit > span {
  color: lighten($black, 10%);
  padding: 3rem 0;
  font-size: 1.25rem;

  text-align: center;
  vertical-align: super;
}

.benefit-text {
  padding: 3rem 1rem;
  line-height: 3rem;
  color: lighten($black, 20%);
}
