@import '../_base.scss';
@import '_sections.scss';

.benefits-title {
  text-align: center;
  color: $black;
}

.benefits {
  min-height: 50vh;
  width: 100%;

  padding-top: 4rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: 0 0;
}

.benefits__benefit {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__benefit > svg {
  font-size: 6rem;
  color: $primary-alt;
}

.benefits__benefit > p {
  padding: 3rem 0;
  font-size: 2rem;
  text-align: center;
}
