@import '../_base.scss';
@import '_sections.scss';

.benefits-title {
  text-align: center;
  color: $black;
}

.benefits {
  width: 100%;

  margin-top: 6rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.benefits:hover > .benefit--selected {
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #ccc;
}

.benefits:hover > .benefit--selected:hover {
  border-top: 3px solid $black;
  border-right: 3px solid $black;
  border-bottom: 3px solid transparent;
}

.benefit {
  width: 33%;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;

  padding: 0.8rem 0rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.benefit--selected {
  border-top: 3px solid $black;
  border-right: 3px solid $black;
  border-bottom: 3px solid transparent;

  border-radius: 2px;
}

.benefit:hover {
  border-top: 3px solid $black;
  border-right: 3px solid $black;
  border-left: 3px solid $black;
  border-bottom: 3px solid transparent;

  cursor: pointer;
}

.benefit:first-child:hover {
  border-left: 3px solid transparent;
}

.benefit:last-child:hover {
  border-right: 3px solid transparent;
}

.benefit > svg {
  font-size: 3rem;
  color: $primary;
}

.benefit > span {
  color: lighten($black, 10%);
  padding: 3rem 0;
  font-size: 1.25rem;

  width: 100%;

  text-align: center;
  vertical-align: super;
}

.benefit-text {
  padding: 3rem 1rem;
  line-height: 3rem;
  color: lighten($black, 20%);
}

.benefit-container {
  display: flex;
  flex-direction: row;

  padding: 1rem 0;
}

.benefit-container > img {
  min-width: 30%;
}

.benefit-container > p {
  align-self: stretch;
}
