@import '../_base.scss';
@import '_sections.scss';

.property-section {
  @extend .content-section;
  @include tablet-up-only();

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  min-height: 70vh;
}

.property-headline {
  color: $black;
  text-align: center;

  margin: 0 auto;

  padding: 2rem 0;
}

.property-headline > span {
  color: $primary-alt;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include for-size(tablet-landscape-up) {
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-direction: space-between;

  align-items: center;

  align-self: stretch;

  border: 1px solid #ccc;

  padding-bottom: 1rem;

  box-shadow: 0px 3px 11px 1px #ccc;

  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  @include for-size(tablet-landscape-up) {
    max-width: 25rem;
  }

  margin-top: 1rem;
}

.card:hover {
  @include for-size(desktop-up) {
    transform: scale(1.1);
  }
}

.card > svg {
  font-size: 2.5rem;
  color: $primary-alt;
}

.card > img {
  width: 100%;
}

.card > h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  max-width: 90%;
  //min-height: 3rem;
  padding: 1rem 2rem;
  color: $black;
}

.card > p {
  hyphens: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 80%;
  color: lighten($black, 10%);
}
.card > ul {
  hyphens: none;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 80%;
  color: lighten($black, 10%);
}
