@import '../_base.scss';
@import '_sections.scss';

.travel-section {
  @extend .fixed-section;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-size(tablet-portrait-up) {
    flex-direction: row;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left > img {
  object-fit: cover;
  height: 30vh;
  padding: 5rem 0;
}

.travel-headline {
  display: inline-block;
  padding: 1rem 0;
}

.travel-headline > h2 {
  color: $black;
}

.travel-headline > h2:after {
  content: ' wszedzie';
  color: $primary-alt;
}

.travel-headline > h3 {
  color: lighten($black, 15%);
  margin-left: 3rem;
}

.tabs {
  margin-top: 1.25rem;

  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  max-width: 12rem;

  border-bottom: 2px solid #ccc;
}

.tab {
  cursor: pointer;
}

.tab:first-child {
  margin-left: 0;
}

.tab:hover {
  border-bottom: 2px solid $primary-alt;
  background-color: lighten($primary-alt, 38%);
}

.tab--selected {
  border-bottom: 2px solid $primary-alt;
}

.tab > svg {
  padding-top: 2rem;
  color: $primary-alt;
  font-size: 2rem;
}

.tab > h3 {
  color: lighten($black, 25%);
  font-size: 1.5rem;
  padding: 1.25rem 0rem;
  text-align: center;
  font-weight: 500;
}

.insurance-benefits {
  padding: 1rem 2rem 1rem 2.5rem;
}

.insurance-benefits > li {
  color: lighten($black, 20%);
  line-height: 2.5rem;
}
