@import '../_base.scss';
@import '_sections.scss';

.travel-headline {
  display: inline-block;
}

.travel-headline > h2 {
  color: $black;
}

.travel-headline > h2:after {
  content: ' wszedzie';
  color: $primary-alt;
}

.travel-headline > h3 {
  margin-left: 3rem;
}

.tabs {
  margin-top: 1.25rem;
  float: right;

  display: flex;
  flex-direction: row;
}

.tabs > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  max-width: 12rem;

  border-bottom: 2px solid #ccc;
}

.tabs > div:first-child {
  margin-left: 0;

  border-bottom: 2px solid $primary-alt;
}

.tabs > div > svg {
  color: $primary-alt;
  font-size: 2rem;
}

.tabs > div > h3 {
  font-size: 1.5rem;
  padding: 1.25rem 0rem;
  text-align: center;
}
