* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto';
  color: #a68c69;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #fbfbfb;
  font-weight: 700;
}
