@import '_base.scss';

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $white;

  min-height: 15vh;

  margin: 0 auto;
  max-width: 1400px;

  @include for-size(phone-only) {
    margin: 0 1rem;
  }

  flex-basis: 0;
}

.menu__item {
  min-height: 8vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $white;

  color: unquote($primary + 'aa');
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;

  box-shadow: 0px 3px 11px 1px #ccc;

  transition: border-bottom 0.3s, box-shadow 0.3s, font-size 0.3s;
  transition-timing-function: ease-out;

  flex: 1;
}

.menu__item:first-child {
  margin-left: 0px;
}

.menu__item:hover {
  border-bottom: 5px solid $primary;
  //box-shadow: 2px 5px 2px 0px #ccc;
  font-size: 1.6rem;
}

.menu__item > p {
  color: $black;

  text-align: center;
  max-width: 50%;

  display: none;

  @include for-size(desktop-up) {
    display: initial;
  }
}

.menu__item--selected {
  //color: $white;
  // background-color: $secondary;
  z-index: 2;
  border-bottom: 5px solid $primary;
  box-shadow: 0px 5px 11px 1px #ccc;
  font-size: 1.6rem;

  @include for-size(tablet-portrait-up) {
    flex: 3;
  }

  @include for-size(desktop-up) {
    flex: 1;
  }
}

.menu__item--selected > p {
  @include for-size(tablet-portrait-up) {
    display: initial;
  }
}

.menu__item-icon {
  //display: none;
  color: $primary;
  font-size: 2.3rem;

  @include for-size(tablet-portrait-up) {
    padding-right: 1rem;
  }
}

.section-header {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-header > h1 {
  font-size: 40px;
  font-weight: 500;
  color: $black;
  max-width: 55%;
  text-align: center;
}

.section-header > p {
  font-size: 25px;
  font-weight: 400;
  color: lighten($black, 20%);
  text-align: center;
  padding: 1rem;
  max-width: 45%;
}

.medium_bottom_line {
  width: 3rem;
  border: 0;
  height: 3px;
  background-color: #34405d;
  display: block;
  margin: 1rem;
}
