@import "_base.scss";
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}
.footer__line {
  width: 35vw;
  border: 0;
  height: 3px;
  background-color: $primary;
  display: block;
  margin: 0 6rem;
}
.footer__top > img {
  height: 6rem;
}
.footer__mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.footer__left > * {
  color: $black;
  font-size: 1.8rem;
  font-weight: 600;
  //text-align: left;
}

.footer__right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 45%;
}
.footer__right > * > h2 {
  color: $black;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__right > * > * > li {
  color: $primary;
  font-size: 1rem;
  font-weight: 400;
}
.footer__right > * > * > li:hover {
  color: $primary-alt;
}

.footer__right > * > * > li::before {
  //content: "• ";
  //  color: $primary-alt; /* or whatever color you prefer */
  //font-size: 1.2rem;
}
ul {
  list-style: none;
}
.footer__mid > hr {
  height: 6rem;
  border: 0;
  width: 3px;
  background-color: $primary;
  display: block;
  margin: 1rem;
}
.footer__bottom {
  padding-top: 1rem;
  font-size: 1rem;
}
