@import '_base.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  color: $primary;
  background-color: $white;
  z-index: 3;
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  position: fixed;
  width: 100%;
  background-color: $white;
  align-items: center;
  z-index: 5;
}
.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6.5rem;
  transition: height 0.5s, width 0.5s;
}

.logo-compact {
  height: 3rem;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu__item {
  padding: 1rem;
  cursor: pointer;
}

.menu__underline {
  width: 0px;
  height: 4px;
  background-color: $primary;
  transition: width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  //border-radius: 10px;
}

.menu__item:hover .menu__underline {
  width: 100%;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__icon {
  color: $white;
  transform: translateY(-2px);
  font-size: 2.3rem;
}
.call__button {
  border: 3px solid #1e90ff;
  outline: none;
  color: #1e90ff;
  background-color: $white;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  display: block;
  z-index: 5;
  padding: 1rem 2rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
  min-width: 12rem;
}
.call__button:hover > span {
  display: none;
}
.call__button:hover:before {
  content: 'Zadzwoń teraz!';
  color: $white;
  text-align: center;
  display: block;
}
.call__button:hover {
  background-color: $primary-alt;
}
