@import '_base.scss';

.container {
  position: fixed;

  width: 100%;

  background-color: $white;
  z-index: 5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-basis: 0;

  font-style: normal;
  font-weight: 500;
  color: $primary;

  background-color: $white;

  z-index: 3;

  max-width: 1400px;
  margin: 0 auto;

  border-bottom: 1px solid #ccc;
}

.header-left {
  padding-left: 0.3rem;
}

.header-middle {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-right {
  padding-right: 0.3rem;

  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  transition: height 0.7s, width 0.7s;
}

.hamburger-icon {
  font-size: 2.7rem;

  border-radius: 5px;

  padding: 0.7rem 0.7rem;

  @include for-size(desktop-up) {
    display: none;
  }
}

.menu-item {
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  @include for-size(desktop-up) {
    padding: 0.7rem;
    border-bottom: none;
    text-align: left;
  }
}

.header-middle .menu-item {
  display: none;

  @include for-size(desktop-up) {
    display: initial;
  }
}

.menu-underline {
  @include for-size(desktop-up) {
    width: 0px;
    height: 4px;
    background-color: $primary;
    transition: width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    //border-radius: 10px;
  }
}

.menu-item:hover .menu-underline {
  width: 100%;
}

.menu-item:hover {
  background-color: lighten($secondary, 20%);
  @include for-size(desktop-up) {
    display: none;
  }
}

.call-button {
  min-width: 12rem;

  font-size: 1.5rem;
  color: $primary-alt;

  background-color: $white;

  z-index: 5;
  cursor: pointer;

  text-align: center;

  transition: background-color 0.3s;

  @include for-size(phone-only) {
    display: none;
  }

  @include for-size(tablet-portrait-up) {
    padding: 1rem 1.5rem;
    border: 3px solid $primary-alt;
  }
}

.call-button > span:first-child {
  display: none;

  @include for-size(tablet-landscape-up) {
    display: initial;
  }
}

.call-button:hover > span {
  display: none;
}

.call-button:hover:before {
  content: 'Zadzwoń teraz!';

  color: $white;
  text-align: center;

  display: block;
}

.call-button:hover {
  background-color: $primary-alt;
}

.direct-call-button {
  color: $primary-alt;
  font-size: 3.3rem;
  padding: 0.7rem;
}

.menu-content {
  background-color: $white;
  transition: 'height 1s';

  @include for-size(desktop-up) {
    display: none;
  }
}
