@import '_base.scss';

.carousel__container {
  width: 100vw;
  height: 100vh;
}

.carousel {
  position: relative;
  width: 100vw;
  // transition: transform 1s;
  z-index: -1;
}

.carousel__image {
  position: absolute;
  height: 140vh;
  width: 100vw;
  background-size: 110% 120%;
  transform: translate(0vh, -40vh);
}
.carousel__image:first-child {
  background-image: url('/static/finance.jpeg');
}
.carousel__image:last-child {
  background-image: url('/static/insurance.jpeg');
}
.carousel__text {
  transform: translate(35vh, 20vh);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
}
.carousel__text > h1 {
  font-size: 4rem;
}
.carousel__text > p {
  font-size: 2rem;
  font-weight: 400;
  width: 80%;
  width: 50%;
}
.carousel__button {
  border: 3px solid #1e90ff;
  outline: none;
  color: #1e90ff;
  background-color: $white;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  display: inline-block;
  z-index: 5;
  padding: 1rem 2rem;
  cursor: pointer;
  align-self: flex-start;
}
.carousel__button:hover {
  background-color: #1e90ff;
  color: $white;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $white;
  align-items: center;
  height: 20vh;

  margin: 0 auto;
  max-width: 1400px;
}

.menu__item {
  min-height: 10vh;

  width: 23vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $white;

  color: unquote($primary + 'aa');

  cursor: pointer;
  font-weight: 400;
  box-shadow: 0px 3px 11px 1px #ccc;
  transition: border-bottom 0.3s, box-shadow 0.3s, font-size 0.3s;
  transition-timing-function: ease-out;
}

.menu__item:first-child {
  margin-left: 0px;
}

.menu__item:hover {
  border-bottom: 5px solid $primary;
  //box-shadow: 2px 5px 2px 0px #ccc;
  font-size: 2rem;
}

.menu__item > p {
  color: $primary;

  text-align: center;
  max-width: 50%;
}

.menu__item--selected {
  //color: $white;
  // background-color: $secondary;
  z-index: 2;
  border-bottom: 5px solid $primary;
  box-shadow: 0px 5px 11px 1px #ccc;
  font-size: 2rem;
}

.menu__item-icon {
  display: none;
  color: $primary-alt;
  font-size: 2.3rem;
}

.arrow {
  position: absolute;
  bottom: 0px;

  height: 5vh;
  text-align: center;
  animation: bounce 2s infinite;
  padding-bottom: 1.2vh;

  width: 100%;

  color: $white;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.slider__container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10vh 0 10vh 0;
}

.slider {
  max-width: 50vw;
}

.slider__img {
  max-width: 50vw;
}

.contact_header {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact_header > h1 {
  font-size: 40px;
  font-weight: 400;
  color: #333;
}
.medium_bottom_line {
  width: 60px;
  border: 0;
  height: 3px;
  background-color: #34405d;
  display: block;
  margin: 30px auto 15px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 0 5vh 0;
  align-items: stretch;
  min-height: 50vh;
  width: 100%;
}

.contact__info {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  min-height: 50vh;
  justify-content: space-evenly;
}
.info__location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact__icon__wrapper {
  background-color: #1e90ff;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__info > *:hover {
  transform: scale(1.1);
  //box-shadow: -8px 8px 8px 8px rgba(5, 22, 70, 0.1);
}
.contact__info > * {
  transition: box-shadow 0.3s, transform 0.3s;
}

.info__hours {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.info__email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.info__phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contact__text {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.contact__text > h2 {
  color: $black;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.contact__text > p {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  align-items: center;
  height: 100%;
  box-shadow: -8px 8px 8px 8px rgba(5, 22, 70, 0.1);
  min-width: 25%;
  justify-content: space-evenly;
  padding: 0.5rem 1.5rem;
}

.contact__form > h1 {
  font-size: 30px;
  font-weight: 400;
  color: #333;

  padding: 0.5rem;
}

.form {
  width: 100%;
}
form > input,
textarea {
  width: 20vw;
  background-color: #fbfbfb;
  border-bottom: 2px solid #a68c69;
  color: #4e5a6d;
  border-top: none;
  border-right: none;
  border-left: none;

  height: 5vh;
  font-size: 20px;
  outline: none;
}
form > textarea {
  height: 20vh;
  padding-top: 10px;
  resize: none;
}
.form__submit {
  height: 50px;
  width: 150px;
  border: 3px solid #1e90ff;
  outline: none;
  color: #1e90ff;
  margin-left: 5px;
  background-color: #fbfbfb;
  transition-duration: 0.2s;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.form__submit:hover {
  background-color: #1e90ff;
  color: white;
}
.map__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
}
.map {
  margin: auto 0;
  width: 85%;
  min-height: 50vh;
}
