@import '_base.scss';

.section {
  min-height: 50vh;
  width: 100vw;

  background-color: #dfddd5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 5rem 0;
}

.section__content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 3rem;

  max-width: 50vw;
}

.section__content > h1 {
  padding: 2rem 0;
  font-size: 3rem;
  color: $black;
}

.section__content > p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: normal;
}

.section__img {
  width: 45vw;
  opacity: 1;
}
